body {
    font-family: 'HPFutura';
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    outline: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.h3, h3 {
    font-size: 35px;
    font-weight: normal;
    line-height: 0.9;
}

.h4, h4 {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 8px;
}

.h5, h5 {
    font-size: 16px;
    font-weight: normal;
}

/* to avoid angular flickering */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* centered columns styles for bootstrap */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.col-centered .left {
    text-align: left;
}

.header {
    min-height: 500px;
    overflow: hidden;
    margin-top: 100px;
}

.header .fork {
    display: none;
    margin-top: 6px;
}

.header .forkMe {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.videoContainer {
    text-align: right;
}

@media (max-width: 1360px) {
    .header .forkMe {
        display: none;
    }

    .header .fork {
        display: inherit;
    }
}

@media (max-width: 991px) {
    .header {
        min-height: 770px;
    }

    .header .forkMe {
        display: inherit;
    }

    .videoContainer {
        margin-top: 30px;
        text-align: left;
    }
}

@media (max-width: 940px) {
    .header .forkMe {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        padding-right: 25px;
        padding-left: 25px;
    }

    .navbar-toggle {
        margin-top: 20px;
    }
}

@media (max-width: 535px) {
    .header {
        min-height: 550px;
    }

    .videoContainer {
        display: none;
    }
}

.navbar-header {
    cursor: pointer;
}

.main-nav {
    background-color: #ffffff;
    color: #000000;
}

.main-nav a.h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav .h3 {
    margin-top: 11px;
}

.main-nav .current:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 100%;
    height: 2px;
    background: #5d913a;
    bottom: 0;
}

.nav {
    margin-top: 10px;
}

.footer {
    color: #ffffff;
    background-color: #2c451c;
    height: 100%;
    padding-top: 10px;
    border-top: 4px solid #314c1f;
}

.footer a:hover {
    color: #cbc9cd;
}

.section-wrapper {
    margin-top: -100px;
    padding-top: 60px;
    min-height: 900px;
    color: #ffffff;
}

.section-wrapper h1 {
    text-align: center;
    margin-bottom: 40px;
}

.section-wrapper.bullets {
    background-color: #5d913a;
    min-height: 660px;
}

@media (max-width: 991px) {
    .section-wrapper.bullets {
        min-height: 1200px;
    }

    .section-wrapper.bullets .col-centered .left {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section-wrapper.bullets {
        min-height: 1550px;
    }
}

.section-wrapper.gettingStarted {
    background-color: #2c451c;
}

.section-wrapper.contribute {
    background-color: #5d913a;
}

.section-wrapper.about {
    background-color: #2c451c;
}

.section-wrapper.contact-us {
    background-color: #5d913a;
    min-height: 600px;
    padding-bottom: 20px;
}

.contact-us .input-box,textarea {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.contact-us .custom-button {
    float: right;
}

.textarea-box {
    border: 0;
    text-align: left;
    text-transform: none;
    padding: 9px;
    min-height: 250px;
    padding-left: 15px;
    display: inline-block;
    border-radius: 4px;
    background: rgba(255,255,255, 0.95);
    resize: none;
}

.input-box {
    border: 0;
    width: 274px;
    text-align: left;
    text-transform: none;
    padding: 9px;
    min-height: 46px;
    padding-left: 15px;
    display: inline-block;
    border-radius: 4px;
    background: rgba(255,255,255, 0.95);
}