<pre>
    <code class="xml">
    &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot;
        xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
        xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0
        http://maven.apache.org/xsd/maven-4.0.0.xsd&quot;&gt;

        &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;

        &lt;groupId&gt;sample&lt;/groupId&gt;
        &lt;artifactId&gt;embed-score&lt;/artifactId&gt;
        &lt;version&gt;1.0-SNAPSHOT&lt;/version&gt;

        &lt;packaging&gt;jar&lt;/packaging&gt;

        &lt;dependencies&gt;
            &lt;dependency&gt;
                &lt;groupId&gt;org.openscore&lt;/groupId&gt;
                &lt;artifactId&gt;score-all&lt;/artifactId&gt;
                &lt;version&gt;0.1.240&lt;/version&gt;
            &lt;/dependency&gt;

            &lt;dependency&gt;
                &lt;groupId&gt;com.hp.score.lang&lt;/groupId&gt;
                &lt;artifactId&gt;score-lang-api&lt;/artifactId&gt;
                &lt;version&gt;0.1.2&lt;/version&gt;
            &lt;/dependency&gt;

            &lt;dependency&gt;
                &lt;groupId&gt;com.h2database&lt;/groupId&gt;
                &lt;artifactId&gt;h2&lt;/artifactId&gt;
                &lt;version&gt;1.3.175&lt;/version&gt;
            &lt;/dependency&gt;
        &lt;/dependencies&gt;
    &lt;/project&gt;
    </code>
</pre>
