<pre>
    <code class="xml">
    &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot;
        xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
        xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0&gt;
        &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;

        &lt;parent&gt;
            &lt;groupId&gt;com.hp.oo.central&lt;/groupId&gt;
            &lt;artifactId&gt;audit&lt;/artifactId&gt;
            &lt;version&gt;10.20.340-SNAPSHOT&lt;/version&gt;
        &lt;/parent&gt;

        &lt;artifactId&gt;oo-audit-api&lt;/artifactId&gt;

        &lt;dependencies&gt;
            &lt;dependency&gt;
                &lt;groupId&gt;${commons.groupId}&lt;/groupId&gt;
                &lt;artifactId&gt;oo-data&lt;/artifactId&gt;
            &lt;/dependency&gt;

            &lt;dependency&gt;
                &lt;groupId&gt;javax.validation&lt;/groupId&gt;
                &lt;artifactId&gt;validation-api&lt;/artifactId&gt;
            &lt;/dependency&gt;
        &lt;/dependencies&gt;
    &lt;/project&gt;
    </code>
</pre>