<pre>
    <code class="xml">
    &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;beans xmlns=&quot;http://www.springframework.org/schema/beans&quot;
        xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
        xmlns:score=&quot;http://www.openscore.org/schema/score&quot;
        xsi:schemaLocation=&quot;http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.openscore.org/schema/score
        http://www.openscore.org/schema/score/score.xsd&quot;&gt;

        &lt;score:engine/&gt;
        &lt;score:worker uuid=&quot;-1&quot;/&gt;

        &lt;bean class=&quot;com.hp.score.lang.api.configuration.SlangSpringConfiguration&quot;/&gt;
    &lt;/beans&gt;
    </code>
</pre>
