<pre>
    <code class="xml">
    &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;beans xmlns=&quot;http://www.springframework.org/schema/beans&quot;&gt;

        &lt;context:annotation-config/&gt;

        &lt;bean class=&quot;org.springframework.beans.PropertyPlaceholderConfigurer&quot;
            p:systemPropertiesModeName=&quot;SYSTEM_PROPERTIES_MODE_OVERRIDE&quot;
            p:ignoreResourceNotFound=&quot;true&quot;
            p:ignoreUnresolvablePlaceholders=&quot;true&quot;/&gt;
    &lt;/beans&gt;
    </code>
</pre>