<div class="container">
    <div class="row row-centered">
        <div class="col-md-12 col-xs-12 ">
            <div class="row">
                <img class="team-logo col-md-4 col-xs-2 col-centered" src="images/team/about_icon.png"/>

                <p class="h4 section-header col-md-6 col-xs-10 col-centered left">
                    {{$root.messages.aboutUsWhoWeAreText}}</p>
            </div>
        </div>
        <div class="col-centered">
            <!--<div class="row team-members center-block">-->
                <div class="row team-members center-block">
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member1Hover = true" ng-mouseleave="member1Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/meshi.jpg">
                            <p class="h4 text-center"><a href="https://github.com/meshipeer" target="_blank">Meshi Peer</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member2Hover = true" ng-mouseleave="member2Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/meir.jpg">
                            <p class="h4 text-center"><a href="https://github.com/meirwah" target="_blank">Meir Whanon</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member3Hover = true" ng-mouseleave="member3Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/eliya.jpg">
                            <p class="h4 text-center"><a href="https://github.com/orius123" target="_blank">Eliya Sadan</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member4Hover = true" ng-mouseleave="member4Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/orit.jpg">
                            <p class="h4 text-center"><a href="https://github.com/oritstone" target="_blank">Orit Stone</a></p>
                        </div>
                    </div>
                </div>

                <div class="row team-members center-block">
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member5Hover = true" ng-mouseleave="member5Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/avi.jpg">
                            <p class="h4 text-center"><a href="https://github.com/avimora" target="_blank">Avi Moradi</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member5Hover = true" ng-mouseleave="member5Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/levi.jpg">
                            <p class="h4 text-center"><a href="https://github.com/Bonczidai" target="_blank">Levente Bonczidai</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member ">
                        <div ng-mouseenter="member6Hover = true" ng-mouseleave="member6Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/tudor.jpg">
                            <p class="h4 text-center"><a href="https://github.com/TudorLesanHP" target="_blank">Tudor Lesan</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member ">
                        <div ng-mouseenter="member6Hover = true" ng-mouseleave="member6Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/ioan.jpg">
                            <p class="h4 text-center"><a href="https://github.com/ioanvranauhp" target="_blank">Ioan Vranau</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member6Hover = true" ng-mouseleave="member6Hover = false">
                            <img class="img-responsive team-member-image" src="images/team/harar.jpg">
                            <p class="h4 text-center"><a href="https://github.com/hararzafrir" target="_blank">Harar Zafrir</a></p>
                        </div>
                    </div>
                </div>

            <!--</div>-->
        </div>
    </div>
</div>
