<div class="header">
    <div ng-include src="'views/navbar.html'"></div>
</div>
<div class="container">
    <div class="row row-centered" style="margin-bottom: 50px;">
        <div class="col-md-12 col-xs-12 ">
            <div class="row">
                <img class="col-md-4 col-xs-12 col-centered team-logo" src="images/team/about_icon.png"/>

                <div class="section-header col-md-8 col-xs-12 col-centered left">
                    <p class="h3">{{$root.messages.aboutUsByHp}}</p>
                    <p class="h4">{{$root.messages.aboutUsWhoWeAreText}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 ">
            <div class="row">
                <div class="section-header col-md-8 col-xs-12 col-centered left">
                    <p class="h4">{{$root.messages.aboutUsInHp}}</p>
                </div>
            </div>
        </div>
        <div class="col-centered">
            <div class="row team-members center-block">
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars1.githubusercontent.com/u/796864?v=3&s=400"/>
                    <p class="h4 text-center">Sorin Moldovan</p>

                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/1898539?v=3&s=400"/>
                    <p class="h4 text-center">Victor Ursan</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/18460065?v=3&s=400"/>
                    <p class="h4 text-center">Alin Tirla</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars2.githubusercontent.com/u/19927953?v=3&s=400"/>
                    <p class="h4 text-center">Alina Ciobanca</p>
                </div>
            </div>

            <div class="row team-members center-block">
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars1.githubusercontent.com/u/8133678?v=3&s=400"/>
                    <p class="h4 text-center">Robert Sandor</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/9899524?v=3&s=400"/>
                    <p class="h4 text-center">Ligia Centea</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars3.githubusercontent.com/u/3694615?v=3&s=400"/>
                    <p class="h4 text-center">Lucian Musca</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars2.githubusercontent.com/u/9443835?v=3&s=400"/>
                    <p class="h4 text-center">George Giloan</p>
                </div>
            </div>
            <div class="row team-members center-block">
                <div class="col-md-4 col-sm-4 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle center-img" src="https://avatars1.githubusercontent.com/u/21359886?v=3&s=400"/>
                    <p class="h4 text-center">Eugen Pintea</p>
                </div>
                <div class="col-md-4 col-sm-4 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle center-img" src="https://avatars.githubusercontent.com/u/8058961?v=3&s=145"/>
                    <p class="h4 text-center">Levente Bonczidai</p>
                </div>
                <div class="col-md-4 col-sm-4 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle center-img" src="https://avatars3.githubusercontent.com/u/12094982?v=3&s=460"/>
                    <p class="h4 text-center">Claudiu Ban</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-centered" style="margin-bottom: 150px;">
        <div class="col-md-12 col-xs-12 ">
            <div class="row">
                <div class="section-header col-md-8 col-xs-12 col-centered left">
                    <p class="h4">{{$root.messages.aboutUsNotInHp}}</p>
                </div>
            </div>
        </div>
        <div class="col-centered">
            <div class="row team-members center-block">
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/10741864?v=3&s=460"/>
                    <p class="h4 text-center">Mihail-Cristian Tusa</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/8018634?v=3&s=400"/>
                    <p class="h4 text-center">Florian Teissedre</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars2.githubusercontent.com/u/10834393?v=3&s=400"/>
                    <p class="h4 text-center">Tomer Shadi</p>
                </div>
                <div class="col-md-3 col-sm-3 team-member">
                    <img height="145" width="145"
                         class="img-responsive team-member-image img-circle" src="https://avatars0.githubusercontent.com/u/12733684?v=3&s=400"/>
                    <p class="h4 text-center">Gal Malachi</p>
                </div>
            </div>
        </div>
    </div>
</div>
