<div class="container">
    <div class="row row-centered">
        <div class="col-md-12 col-xs-12 ">
            <div class="row">
                <img class="team-logo col-md-4 col-xs-2 col-centered" src="images/team/about_icon.png"/>

                <p class="h4 section-header col-md-6 col-xs-10 col-centered left">
                    {{$root.messages.aboutUsWhoWeAreText}}</p>
            </div>
        </div>
        <div class="col-centered">
            <!--<div class="row team-members center-block">-->
                <div class="row team-members center-block">
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member1Hover = true" ng-mouseleave="member1Hover = false">
                            <img ng-class="{hide: !member1Hover}" class="img-responsive team-member-image" src="images/team/meshi.jpg">
                            <img ng-class="{hide: member1Hover}" class="img-responsive team-member-image" src="images/team/hovermeshi.jpg">
                            <p class="h4 text-center">Meshi Peer</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member2Hover = true" ng-mouseleave="member2Hover = false">
                            <img ng-class="{hide: !member2Hover}" class="img-responsive team-member-image" src="images/team/meir.jpg">
                            <img ng-class="{hide: member2Hover}" class="img-responsive team-member-image" src="images/team/hovermeir.jpg">
                            <p class="h4 text-center">Meir Whanon</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member3Hover = true" ng-mouseleave="member3Hover = false">
                            <img ng-class="{hide: !member3Hover}" class="img-responsive team-member-image" src="images/team/eliya.jpg">
                            <img ng-class="{hide: member3Hover}" class="img-responsive team-member-image" src="images/team/hovereliya.jpg">
                            <p class="h4 text-center">Eliya Sadan</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member4Hover = true" ng-mouseleave="member4Hover = false">
                            <img ng-class="{hide: !member4Hover}" class="img-responsive team-member-image" src="images/team/orit.jpg">
                            <img ng-class="{hide: member4Hover}" class="img-responsive team-member-image" src="images/team/hoverorit.jpg">
                            <p class="h4 text-center">Orit Stone</p>
                        </div>
                    </div>
                </div>

                <div class="row team-members center-block">
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member5Hover = true" ng-mouseleave="member5Hover = false">
                            <img ng-class="{hide: !member5Hover}" class="img-responsive team-member-image" src="images/team/ioan.jpg">
                            <img ng-class="{hide: member5Hover}" class="img-responsive team-member-image" src="images/team/hoverioan.jpg">
                            <p class="h4 text-center">Ioan Vranau</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member6Hover = true" ng-mouseleave="member6Hover = false">
                            <img ng-class="{hide: !member6Hover}" class="img-responsive team-member-image" src="images/team/levi.jpg">
                            <img ng-class="{hide: member6Hover}" class="img-responsive team-member-image" src="images/team/hoverlevi.jpg">
                            <p class="h4 text-center">Levente Bonczidai</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member ">
                        <div ng-mouseenter="member7Hover = true" ng-mouseleave="member7Hover = false">
                            <img ng-class="{hide: !member7Hover}" class="img-responsive team-member-image" src="images/team/tudor.jpg">
                            <img ng-class="{hide: member7Hover}" class="img-responsive team-member-image" src="images/team/hovertudor.jpg">
                            <p class="h4 text-center">Tudor Lesan</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 team-member">
                        <div ng-mouseenter="member8Hover = true" ng-mouseleave="member8Hover = false">
                            <img ng-class="{hide: !member8Hover}" class="img-responsive team-member-image" src="images/team/harar.jpg">
                            <img ng-class="{hide: member8Hover}" class="img-responsive team-member-image" src="images/team/hoverharar.jpg">
                            <p class="h4 text-center">Harar Zafrir</p>
                        </div>
                    </div>
                </div>

            <!--</div>-->
        </div>
    </div>
</div>
