<div ng-controller="AboutCtrl" class="container">
    <div class="row row-centered">
        <div class="col-md-12 col-xs-12 col-centered">
            <div class="row row-centered">
                <img class="hplogo col-md-4 col-xs-2 col-centered" ng-src="images/hp-logo64.png" />
                <p class="h4 section-header col-md-6 col-xs-10 col-centered">{{$root.messages.aboutUsWhoWeAreText}}</p>
            </div>
        </div>
        <div class="col-md-8 col-sm-10 col-xs-8 col-centered">
            <div class="row team-members center-block">
                <div class="team-member col-md-3 col-sm-3 col-xs-10">
                    <hover-member-image member="meshi" name="Meshi Peer"></hover-member-image>
                </div>
                <div class="team-member col-md-3 col-sm-3 col-xs-10">
                    <hover-member-image member="meir" name="Meir Wahnon"></hover-member-image>
                </div>
                <div class="team-member col-md-3 col-sm-3 col-xs-10">
                    <hover-member-image member="eliya" name="Eliya Sadan"></hover-member-image>
                </div>
                <div class="team-member col-md-3 col-sm-3 col-xs-10">
                    <hover-member-image member="orit" name="Orit Stone"></hover-member-image>
                </div>
                <!--<div class="team-member col-md-4 img-responsive">-->
                    <!--<hover-member-image member="meshi"></hover-member-image>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>