<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h3 class="suggest-workflow-title">{{ $root.messages.bannerTitle }}</h3>
            <p class="h4">{{ $root.messages.bannerDesc }} </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <a class="suggest-flow-link" href="/#/getstarted">
                <button type="button" class="btn banner-button">
                    <img class="pull-left resize" src="images/button_icon.png" alt="Start Now">
                    {{ $root.messages.startNowBanner }} </button> </a>
        </div>


    </div>
</div>
