<div class="container">
    <div class="row row-centered">
        <div class="col-md-3 col-xs-7 col-centered vtop">
            <p class="h3">{{$root.messages.mainBulletsProcessBasedTitle}}</p>
            <img class="col-centered" src="images/bullets/icon_process_based.png" alt="Process Based"/>
            <p class="h4 left">{{$root.messages.mainBulletsProcessBasedDesc}}</p>
        </div>
        <div class="col-md-3 col-xs-7 col-md-offset-1 col-centered vtop">
            <p class="h3">{{$root.messages.mainBulletsLightweightTitle}}</p>
            <img class="col-centered" src="images/bullets/icon_lightweight.png" alt="Lightweight"/>
            <p class="h4 left">{{$root.messages.mainBulletsLightweightDesc}}</p>
        </div>
        <div class="col-md-3 col-xs-7 col-md-offset-1 col-centered vtop">
            <p class="h3">{{$root.messages.mainBulletsMultiLingualTitle}}</p>
            <img class="col-centered" src="images/bullets/icon_multi_lingo.png" alt="Multilingual"/>
            <p class="h4 left">{{$root.messages.mainBulletsMultiLingualDesc}}
                <a class="read-more" ng-href="/#/docs#slang" target="_blank">
                    {{$root.messages.mainBulletsReadMore}}</a>
            </p>
        </div>
    </div>
</div>