<div ng-controller="MainCtrl" class="header">
    <div ng-include src="'views/navbar.html'"></div>
</div>

<div class="container" ng-controller="GettingStartedCtrl">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-md-12">
            <p class="h3">{{ $root.messages.communityTitle }}</p>
            <p class="h5 community-desc-title">{{ $root.messages.communityTitleDesc1 }} </p>
            <p class="h5 community-desc-title">{{ $root.messages.communityTitleDesc2 }} </p>
        </div>
    </div>

    <div class="row row-centered">
        <div class="col-md-4 col-xs-12" >
            <img class="img-responsive centered" src="images/community/communicate_image.png">
            <h3 class="h4 community-title"> {{$root.messages.communityCommunicate}}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityCommunicateDesc }}</p>
            </div>
            <div class="community-circle">
                <a ng-href="https://twitter.com/CloudSlang" onclick="ga('send', 'event', 'button', 'click', 'community twitter', 1);" target="_blank"
                   title="{{$root.messages.footerTwitter}}">
                    <img src="images/community/icon_twitter.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="https://groups.google.com/forum/#!forum/cloudslang" onclick="ga('send', 'event', 'button', 'click', 'community mailing list', 1);"
                   target="_blank" title="{{$root.messages.footerGoogleGroups}}">
                    <img src="images/community/icon_mailing_list.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="mailto:support@cloudslang.io" onclick="ga('send', 'event', 'button', 'click', 'community contact us', 1);"
                   title="{{$root.messages.footerContactUs}}">
                    <img src="images/community/icon_email.png">
                </a>
            </div>

            <div class="next-row">
                <div class="community-circle">
                    <a data-toggle="modal" data-target="#footerModal" onclick="ga('send', 'event', 'button', 'click', 'community newsletter', 1);" title="{{$root.messages.footerNewsLetter}}">
                        <i style="color: white; margin-top: 4px" class="fa social-icon fa-2x fa-newspaper-o"></i>
                    </a>
                </div>

                <div class="community-circle">
                    <a ng-href="http://www.youtube.com/channel/UCunFZ98J-2slsd3NuP2WeBw" onclick="ga('send', 'event', 'button', 'click', 'community youtube', 1);"
                       target="_blank" title="{{$root.messages.footerYoutube}}">
                        <i class="youtube social-icon fa fa-2x fa-youtube" style="color: white; margin-top: 3px"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <img class="img-responsive centered" src="images/community/contribute_image.png">
            <h3 class="h4 community-title"> {{ $root.messages.communityContribute }}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityContributeDesc }}</p>
            </div>
            <div style="margin-left: 20px;" class="community-circle">
                <a ng-href="https://github.com/CloudSlang" onclick="ga('send', 'event', 'button', 'click', 'community github', 1);"
                   target="_blank"
                   title="{{$root.messages.footerGitHub}}">
                    <img src="images/community/icon_github.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="http://cloudslang-docs.readthedocs.org/en/v0.8/developer_contribution" onclick="ga('send', 'event', 'button', 'click', 'community guide', 1);" target="_blank"
                   title="{{$root.messages.footerContribute}}">
                    <img style="margin-left: 3px" src="images/community/icon_guide.png">
                </a>
            </div>
            <div class="community-circle">
                <a
                    ng-href="https://github.com/CloudSlang/cloud-slang/wiki/Project-Roadmap" onclick="ga('send', 'event', 'button', 'click', 'community roadmap', 1);"
                    target="_blank" title="{{$root.messages.footerRoadMap}}">
                    <img src="images/community/icon_roadmap.png">
                </a>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <img class="img-responsive centered" src="images/community/learn_more_image.png">
            <h3 class="h4 community-title" style="margin-top: 22px"> {{$root.messages.communityLearnMore}}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityLearnMoreDesc}}</p>
            </div>
            <div style="margin-left: 20px;" class="community-circle">
                <a ng-href="#/docs" onclick="ga('send', 'event', 'button', 'click', 'community docs', 1);" target="_blank"
                   title="{{$root.messages.footerDocs}}">
                    <img style="margin-left: 3px; margin-top: -1px" src="images/community/icon_docs.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="http://cloudslang-tutorials.readthedocs.org" onclick="ga('send', 'event', 'button', 'click', 'community tutorials', 1);" target="_blank"
                   title="{{$root.messages.footerTutorials}}">
                    <img src="images/community/icon_tutorial.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="http://blog.cloudslang.io" onclick="ga('send', 'event', 'button', 'click', 'community blog', 1);" target="_blank"
                   title="{{$root.messages.footerBlog}}">
                    <img src="images/community/icon_blog.png">
                </a>
            </div>
        </div>
    </div>
</div>
