<div ng-controller="MainCtrl" class="header">
    <div ng-include src="'views/navbar.html'"></div>
</div>

<div class="container" ng-controller="CommunityCtrl">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-md-12">
            <p class="h3">{{ $root.messages.communityTitle }}</p>
            <p class="h5 community-desc-title">{{ $root.messages.communityTitleDesc1 }} </p>
            <p class="h5 community-desc-title">{{ $root.messages.communityTitleDesc2 }} </p>
        </div>
    </div>

    <div class="row row-centered" style="margin-bottom: 38px">
        <div class="col-md-4 col-xs-12" >
            <img class="img-responsive centered" src="images/community/communicate_image.png">
            <h3 class="h4 community-title"> {{$root.messages.communityCommunicate}}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityCommunicateDesc }}</p>
            </div>
            <div class="community-circle">
                <a ng-href="https://twitter.com/CloudSlang" analytics-on="click" analytics-event="community twitter" target="_blank"
                   title="{{$root.messages.footerTwitter}}">
                    <img src="images/community/icon_twitter.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="https://cloudslang.signup.team/" analytics-on="click" analytics-event="slack channel"
                   target="_blank" title="{{$root.messages.footerSlackChannel}}">
                    <img src="images/community/icon_slack.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="mailto:support@cloudslang.io" analytics-on="click" analytics-event="community contact us"
                   title="{{$root.messages.footerContactUs}}">
                    <img src="images/community/icon_email.png">
                </a>
            </div>

            <div class="next-row">
                <div class="community-circle">
                    <a data-toggle="modal" data-target="#footerModal" analytics-on="click" analytics-event="community newsletter" title="{{$root.messages.footerNewsLetter}}">
                        <i style="color: white; margin-top: 4px" class="fa social-icon fa-2x fa-newspaper-o"></i>
                    </a>
                </div>

                <div class="community-circle">
                    <a ng-href="http://www.youtube.com/channel/UCunFZ98J-2slsd3NuP2WeBw" analytics-on="click" analytics-event="community youtube"
                       target="_blank" title="{{$root.messages.footerYoutube}}">
                        <i class="youtube social-icon fa fa-2x fa-youtube" style="color: white; margin-top: 3px"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <img class="img-responsive centered" src="images/community/contribute_image.png">
            <h3 class="h4 community-title"> {{ $root.messages.communityContribute }}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityContributeDesc }}</p>
            </div>
            <div style="margin-left: 20px;" class="community-circle">
                <a ng-href="https://github.com/CloudSlang" analytics-on="click" analytics-event="community github"
                   target="_blank"
                   title="{{$root.messages.footerGitHub}}">
                    <img src="images/community/icon_github.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="http://cloudslang-docs.readthedocs.io/en/v1.0/developer_contribution.html" analytics-on="click" analytics-event="community guide" target="_blank"
                   title="{{$root.messages.footerContribute}}">
                    <img style="margin-left: 3px" src="images/community/icon_guide.png">
                </a>
            </div>
            <div class="community-circle">
                <a
                    ng-href="https://github.com/CloudSlang/cloud-slang/wiki/Project-Roadmap" analytics-on="click" analytics-event="community roadmap"
                    target="_blank" title="{{$root.messages.footerRoadMap}}">
                    <img src="images/community/icon_roadmap.png">
                </a>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <img class="img-responsive centered" src="images/community/learn_more_image.png">
            <h3 class="h4 community-title" style="margin-top: 22px"> {{$root.messages.communityLearnMore}}</h3>
            <div class="community-desc-position">
                <p class="h5">{{ $root.messages.communityLearnMoreDesc}}</p>
            </div>
            <div style="margin-left: 20px;" class="community-circle">
                <a ng-href="#/docs" analytics-on="click" analytics-event="community docs" target="_blank"
                   title="{{$root.messages.footerDocs}}">
                    <img style="margin-left: 3px; margin-top: -1px" src="images/community/icon_docs.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="http://cloudslang-docs.readthedocs.io/en/v1.0/section_tutorial.html" analytics-on="click" analytics-event="community tutorials" target="_blank"
                   title="{{$root.messages.footerTutorials}}">
                    <img src="images/community/icon_tutorial.png">
                </a>
            </div>
            <div class="community-circle">
                <a ng-href="https://blog.cloudslang.io" analytics-on="click" analytics-event="community blog" target="_blank"
                   title="{{$root.messages.footerBlog}}">
                    <img src="images/community/icon_blog.png">
                </a>
            </div>
        </div>
    </div>
</div>
