<div ng-controller="DocsCtrl">
    <div class="header">
        <div ng-include src="'views/navbar.html'"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 hidden-print hidden-xs hidden-sm "
             ng-include src="'views/sidebar.html'" role="complementary"></div>
        <div class="col-lg-10">
            <div class="row row-centered">
                <div youtube-embed class="col-md-6 col-sm-10 col-xs-12 col-centered">
                    <img src="images/docs_movie_img.png" class="hide"/>
                    <iframe src="//www.youtube.com/embed/QQYMY2-8x8g"></iframe>
                </div>
            </div>
            <section class="section-wrapper overview" id="overview">
                <div ng-include src="'views/docs/generated/score.html'"></div>
            </section>
            <section class="section-wrapper slang" id="slang">
                <div ng-include src="'views/docs/generated/slang.html'"></div>
            </section>
            <section class="section-wrapper developer" id="developer">
                <div ng-include src="'views/docs/generated/developer.html'"></div>
            </section>
        </div>
    </div>
</div>
