<div>
    <div class="explanation col-md-7">
        <p class="h3">{{$root.messages.detailedDownloadCliHeader}}</p>
    </div>
    <div class="col-md-7">
        <p class="h4">{{$root.messages.detailedDownloadCliText}}</p>
    </div>
    <div class="download col-md-7">
        <a class="pull-left btn btn-primary btn-lg download-now-button left-side"
           ng-href="https://github.com/openscore/score-language/releases/download/slang-CLI-v0.2.1/score-lang-cli.zip"><img
            src="images/download_button.png" alt="Start Now"></a>
        <a class="pull-left btn btn-primary btn-lg download-now-button right-side"
           ng-href="https://github.com/openscore/score-language/releases/download/slang-CLI-v0.2.1/score-lang-cli.zip"><p class="h4">
            {{$root.messages.detailedDownloadLatest}}</p></a>
    </div>
    <div class="explanation col-md-12">
        <p class="h3">{{$root.messages.detailedSlangCliHeader}}</p>
    </div>
    <div class="col-md-7 snippet">
        <div class="h4">{{$root.messages.detailedSlangWriteFlowText}}</div>
        <div hljs include="'views/codesnippets/hello_world.sl'" language="less"></div>
    </div>
    <div class="col-md-7 snippet">
        <div class="h4">{{$root.messages.detailedSlangWriteOperationText}}</div>
        <div hljs include="'views/codesnippets/print.sl'" language="less"></div>
    </div>
    <div class="explanation col-md-12 col-xs-12">
        <p class="h3">{{$root.messages.detailedTriggerFlowHeader}}</p>
    </div>
    <div class="col-md-7 col-xs-12">
        <p class="h4">{{$root.messages.detailedTriggerFlowText1}}</p>
        <p class="h4">{{$root.messages.detailedTriggerFlowText2}}</p>
    </div>
    <div class="col-md-7 col-xs-12">
        <div class="cli" ng-click="showCli('cli-trigger-flow', [$root.messages.detailedCliTriggerFlow])">
            <div class="cli-header">{{$root.messages.detailedCliHeader}}</div>
            <div class="cli-body">{{$root.messages.detailedCliPrefix}}
                <span id="cli-trigger-flow" class="typed"></span>
                <span id="cli-trigger-flow-cursor" class="typed-cursor">|</span>
            </div>
        </div>
    </div>
</div>
