<div ng-controller="FooterCtrl" class="footer">
    <div class="container">
        <div class="social-icons row row-centered">
            <div class="col-md-1"></div>
            <div class="col-md-2  text-center">
                <div>
                    <a ng-href="http://cloudslang-docs.readthedocs.io/en/v1.0/developer_contribution.html" analytics-on="click" analytics-event="footer contribute" target="_blank" title="{{$root.messages.footerContribute}}">
                        <span class="icon-text h4">{{$root.messages.footerContribute}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2  text-center">
                <div>
                    <a ng-href="https://blog.cloudslang.io" analytics-on="click" analytics-event="footer blog" target="_blank" title="{{$root.messages.footerBlog}}">
                        <span class="icon-text h4">{{$root.messages.footerBlog}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2  text-center">
                <div>
                    <a ng-href="http://cloudslang-docs.readthedocs.io/en/v1.0/section_tutorial.html" analytics-on="click" analytics-event="footer tutorials" target="_blank" title="{{$root.messages.footerTutorials}}">
                        <span class="icon-text h4">{{$root.messages.footerTutorials}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2  text-center">
                <div>
                    <a ng-href="http://cloudslang-docs.readthedocs.io/en/v1.0/"  analytics-on="click" analytics-event="footer docs" target="_blank" title="{{$root.messages.footerDocs}}">
                        <span class="icon-text h4">{{$root.messages.footerDocs}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2  text-center">
                <div>
                    <a ng-href="https://github.com/CloudSlang/cloud-slang/wiki/Project-Roadmap" analytics-on="click" analytics-event="footer roadmap" target="_blank" title="{{$root.messages.footerRoadMap}}">
                        <span class="icon-text h4">{{$root.messages.footerRoadMap}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="social-icons row row-centered">
            <div class="col-md-3 col-xs-1" ></div>
            <div class="col-md-1 col-xs-2 text-left">
                <div>
                    <a ng-href="https://github.com/CloudSlang" analytics-on="click" analytics-event="footer github" target="_blank" title="{{$root.messages.footerGitHub}}">
                        <i class="github social-icon fa fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-xs-2 text-center">
                <div>
                    <a ng-href="https://cloudslang.slack.com/signup" analytics-on="click" analytics-event="footer mailing list" target="_blank" title="{{$root.messages.footerSlackChannel}}">
                        <i class="github social-icon fa fa-slack"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-xs-2 text-center">
                <div>
                    <a ng-href="https://twitter.com/CloudSlang" analytics-on="click" analytics-event="footer twitter" target="_blank" title="{{$root.messages.footerTwitter}}">
                        <i class="twitter social-icon fa fa-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-xs-2 text-center">
                <div>
                    <a ng-href="http://www.youtube.com/channel/UCunFZ98J-2slsd3NuP2WeBw" analytics-on="click" analytics-event="footer youtube" target="_blank" title="{{$root.messages.footerYoutube}}">
                        <i class="youtube social-icon fa fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-xs-2 text-center">
                <div>
                    <a data-toggle="modal"
                       data-target="#footerModal" analytics-on="click" analytics-event="footer newsletter" title="{{$root.messages.footerNewsLetter}}">
                        <i class="fa social-icon fa-newspaper-o"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row row-centered">
            <div class="col-md-12 col-xs-12 links">
                <img class="hpe-logo img-responsive" src="images/logos/HPE_logo.png">
                <i class="column-separator"></i>
                <span>© {{$root.year}} HPED LP </span>
                <i class="column-separator"></i>
                <a ng-href="http://www.apache.org/licenses/LICENSE-2.0.html" analytics-on="click" analytics-event="footer license" target="_blank">
                    {{$root.messages.footerLicense}}
                </a>
                <i class="column-separator"></i>
                <a ng-href="http://www8.hp.com/us/en/hpe/legal/terms-of-use.html" analytics-on="click" analytics-event="footer terms of use" target="_blank">
                    {{$root.messages.footerTerms}}
                </a>
                <i class="column-separator"></i>
                <a ng-href="http://www8.hp.com/us/en/hpe/privacy/privacy.html" analytics-on="click" analytics-event="footer privacy" target="_blank">
                    {{$root.messages.footerPrivacy}}
                </a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="footerModal" class="modal fade" role="dialog">
        <div class="modal-dialog popup-font-color modal-pos">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="h3 popup-title popup-font-color">{{ $root.messages.popUpHeader
                        }}</h3>
                </div>
                <div class="modal-body">
                    <p class="h4 popup-desc"> {{ $root.messages.emailField}}</p>

                    <div class="subscribe-field">
                        <div ng-include src="'views/subscription.html'"></div>
                    </div>
                    <br>
                    <img class=" img-responsive pull-right popup-robot" src="http://i58.tinypic.com/ib995i.jpg">

                    <p class="h4 privacy">
                        <small>{{ $root.messages.emailPrivacy}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
