<div ng-controller="FooterCtrl" class="footer">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-2 col-xs-12 col-centered">
                <a ng-href="#" target="_blank">{{$root.messages.footerPrivacy}}</a>
            </div>
            <div class="col-md-2 col-xs-12 col-centered">
                <a ng-href="#" target="_blank">{{$root.messages.footerTerms}}</a>
            </div>
            <div class="col-md-2 col-xs-12 col-centered">
                <a ng-href="mailto:scoreslang@gmail.com" target="_blank">{{$root.messages.footerContactUs}}</a>
            </div>
            <div class="col-md-2 col-xs-12 col-centered">
                <a ng-href="/#/docs#developer" target="_blank">{{$root.messages.footerContribute}}</a>
            </div>
        </div>
        <div class="social-icons row row-centered">
            <div class="col-md-1 col-xs-2 col-centered">
                <a ng-href="https://plus.google.com/111786332101522113762" target="_blank">
                    <i class="gplus social-icon fa fa-google-plus-square"></i>
                </a>
            </div>
            <div class="col-md-1 col-xs-2 col-centered">
                <a ng-href="http://www.youtube.com/channel/UCunFZ98J-2slsd3NuP2WeBw" target="_blank">
                    <i class="youtube social-icon fa fa-youtube-square"></i>
                </a>
            </div>
            <div class="col-md-1 col-xs-2 col-centered">
                <a ng-href="https://twitter.com/score_slang" target="_blank">
                    <i class="twitter social-icon fa fa-twitter-square"></i>
                </a>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-12 col-xs-12 copyright">
                <p>Copyright © {{$root.year}}. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
