<div ng-controller="MainCtrl" class="header">
    <div ng-include src="'views/navbar.html'"></div>
</div>
<a name="top"></a>
<div class="container" ng-controller="GettingStartedCtrl">
    <div class="row">
        <div class="col-md-12">
            <p class="h3">{{sections[2].title}}</p>

            <p class="h5">{{ $root.messages.getStartedTitleDesc }} </p><br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="circle-get-started"><h5 class="h5 get-started-number">1</h5></div>
            <h3 class="h4 get-started-title"> {{$root.messages.detailedDownloadCliHeader}}</h3>

            <p class="h5 get-started-desc">{{ $root.messages.detailedDownloadCliText }}</p><br>

            <p class="h5 get-started-desc"> {{ $root.messages.detailedDownloadCliText1 }} <img class="docker-icon"
                                                                                               src="images/gettingstarted/small_v-trans.png">
                {{ $root.messages.detailedDownloadCliText2 }}</p>
            <pre class="run-docker"> docker run -it cloudslang/cloudslang </pre>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="circle-get-started"><p class="h5 get-started-number">2</p></div>
                <h3 class="h4 get-started-title"> {{ $root.messages.detailedSlangCliHeader }}</h3>

                <p class="h5 get-started-desc">{{ $root.messages.detailedSlangWriteFlowText }}</p><br>

                <p class="h5 get-started-desc">{{ $root.messages.detailedSlangWriteFlowText1 }}</p>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="circle-get-started"><p class="h5 get-started-number">3</p></div>
                <h3 class="h4 get-started-title"> {{$root.messages.detailedTriggerFlowHeader}}</h3>

                <p class="h5 get-started-desc">{{ $root.messages.detailedTriggerFlowText1}}</p>

                <pre class="run-cli">{{$root.messages.detailedTriggerFlowText2}}</pre>
                <br>

                <p class="h5 get-started-desc">{{$root.messages.detailedTriggerFlowText4 }}</p>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="circle-get-started"><p class="h5 get-started-number">4</p></div>
                <h3 class="h4 get-started-title"> {{$root.messages.detailedLearnMoreHeader}}</h3>

                <p class="h5 get-started-desc">{{ $root.messages.popUpBody + " " }} <a class="highlight-green"
                                                                                       href="https://www.youtube.com/watch?v=CX1_It_Ygso"
                                                                                       target="_blank">{{$root.messages.videoLink
                    + " "}}</a><a class="highlight-green" href="/#/docs">{{$root.messages.docsLink + "
                    "}}</a> {{ $root.messages.popUpBody2 + " "}}
                    <a class="highlight-green" href="http://cloudslang-tutorials.readthedocs.org/en/latest/"
                       target="_blank">{{$root.messages.tutorialLink }}</a>.</p>
            </div>

            <div class="row-centered">
                <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
                    <div ng-include src="'views/downloadclibox.html'"></div>
                </div>
            </div>
            <img class="pull-right getting-started-robot" src="images/gettingstarted/get_started_robot.png">
        </div>

    </div>


    <section class="section-wrapper get-started">
    </section>
