<div ng-controller="HeaderCtrl">
    <div class="header">
        <nav class="navbar navbar-default navbar-fixed-top main-nav" role="navigation">
            <div class="container">
                <div class="forkMe">
                    <a href="https://github.com/openscore" target="_blank">
                        <img alt="Fork score on GitHub"
                            src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
                    </a>
                </div>
                <div class="navbar-header responsive-logo">
                    <button class="navbar-toggle collapsed" type="button" collapse-on-click Click data-toggle="collapse"
                            data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="h3 text-muted scroll-top" scroll-top>
                        <img src="../images/logos/score_logo_50x50.png" img-responsive alt="score" width="50px"
                             height="50px"/>
                        score
                    </p>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-collapse bs-navbar-collapse collapse">
                    <li>
                        <a href="/#/docs">
                            <span class="row go-to-page">
                                <span class="col-lg-9 button">{{sections[3].title}}</span>
                                <i class="col-lg-1 fa fa-arrow-circle-o-right arrow"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul one-page-nav class="nav navbar-nav navbar-right navbar-collapse bs-navbar-collapse collapse">
                    <li><a ng-href="#{{sections[0].id}}" class="h5">{{sections[0].title}}</a></li>
                    <li><a ng-href="#{{sections[1].id}}" class="h5">{{sections[1].title}}</a></li>
                    <li><a ng-href="#{{sections[2].id}}" class="h5">{{sections[2].title}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div data-ng-init="showCli('cli-header', $root.messages.headerMainTitleBullets, true, 60)">
                        <p class="h3 header-title">
                            <span id="cli-header" class="typed"></span>
                            <span id="cli-header-cursor" class="typed-cursor">|</span>
                        </p>
                    </div>
                    <p class="h3 header-title">{{$root.messages.headerMainTitle}}</p>
                    <br/>

                    <p class="h4">{{$root.messages.headerDescription}}</p>
                    <br/>

                    <div class="col-md-12">
                        <div class="row" ng-click="scrollToGettingStarted()">
                            <a class="pull-left btn btn-primary btn-lg start-now-button left-side"><img
                                    src="images/start_button.png" alt="Start Now"></a>
                            <a class="pull-left btn btn-primary btn-lg start-now-button right-side"><p class="h4">
                                {{$root.messages.headerStartNow}}</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div youtube-embed class="videoContainer">
                        <img src="images/site_movie_img.png" class="hide"/>
                        <iframe src="//www.youtube.com/embed/HT8J_z24hvE"></iframe>
                    </div>
                    <div class="fork">
                        <iframe src="http://ghbtns.com/github-btn.html?user=openscore&repo=&type=fork&count=false&size=large"
                            allowtransparency="true" frameborder="0" scrolling="0" width="200" height="30"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'views/main.html'"></div>
</div>
