<div ng-controller="ContactUsCtrl" class="container">
    <p class="h2 section-header">{{sections[2].title}}</p>
    <div class="row">
        <div class="col-md-2 col-xs-4 col-centered">
            <a ng-href="https://wiki.eclipse.org/Score_Project" target="_blank">{{$root.messages.footerDocumentation}}</a>
        </div>
        <div class="col-md-2 col-xs-4 col-centered">
            <a ng-href="https://wiki.eclipse.org/How_to_contribute_code" target="_blank">{{$root.messages.footerContribute}}</a>
        </div>
    </div>
</div>