<div ng-controller="MainCtrl">
    <section id="{{sections[0].id}}" class="section-wrapper about">
        <div class="container">
            <h1>{{sections[0].title}}</h1>
        </div>
    </section>
    <section id="{{sections[1].id}}" class="section-wrapper download">
        <div class="container">
            <h1>{{sections[1].title}}</h1>
        </div>
    </section>
    <section id="{{sections[2].id}}" class="section-wrapper useCases">
        <div class="container">
            <h1>{{sections[2].title}}</h1>
        </div>
    </section>
</div>
