<div ng-controller="MainCtrl">
    <div class="header">
        <div ng-include src="'views/navbar.html'"></div>
    </div>
</div>
<div class="container-fluid mobileShow">
    <div class="mobile-wrapper">
        <p class="h3 center">{{$root.messages.headerMainTitle}}</p>
        <img class="mobile-main-image" src="images/CloudSlang_mobile.png">

        <div class="mobile-button">
            <a href="/#/getstarted#top" class="btn btn-lg start-now-button-mobile btn-responsive">
                <img class="pull-left resize-mobile" src="images/button_icon.png" alt="Start Now">

                <p class="start-now-text-mobile">
                    {{$root.messages.headerStartNow}}</p></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="main-image">
                <div class="wide-screen">
                    <img class="img-responsive" src="images/main_image.gif"/>

                    <div class="header-title">
                        <p class="h3">{{$root.messages.headerMainTitle}}</p>
                    </div>
                    <div>
                        <a href="/#/getstarted#top" class="btn btn-lg start-now-button btn-responsive">
                            <img class="pull-left resize" src="images/button_icon.png" alt="Start Now">

                            <p class="start-now-text">
                                {{$root.messages.headerStartNow}}</p></a>
                    </div>
                    <div class="col-md-12 col-xs-12 works-with-border">
                        <div class="works-with-text"><p> {{$root.messages.worksWith}} </p></div>
                        <div ng-include src="'views/workwithcarousle.html'">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div>
                        <h3>{{$root.messages.whatIsTitle}}</h3><br>

                        <p class="h4 left">{{$root.messages.whatIsDescription}}</p>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div youtube-embed class="videoContainer"><img src="images/main_video_cover.png"
                                                                   class="hide">
                        <iframe
                            src="https://www.youtube.com/watch?v=zMKagFLnQzM&feature=youtu.be"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="{{sections[0].id}}" class="section-wrapper use-cases">
    <div ng-include src="'views/usecases.html'"></div>
</section>
<section id="{{sections[1].id}}" class="section-wrapper suggest-flow">
    <div ng-include src="'views/suggestworkflow.html'"></div>
</section>
<section class="section-wrapper bullets">
    <div ng-include src="'views/bullets.html'"></div>
</section>
<section class="section-wrapper banner">
    <div ng-include src="'views/banner.html'"></div>
</section>

<!---<section id="{{sections[2].id}}" class="section-wrapper getting-started">
<div ng-include src="'views/gettingstarted.html'"></div>
</section> -->

<!--<section id="{{sections[3].id}}" class="section-wrapper about">
    <div ng-include src="'views/about.html'"></div>
</section>-->

</div>
</div>
