<div ng-controller="MainCtrl">
    <section class="section-wrapper bullets">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-2 col-xs-4 col-centered">
                    <p class="h2">{{$root.messages.mainBulletsContentTitle}}</p>
                    <img class="img-responsive" src="images/bulletContentl.png" alt="Content"/>
                    <p class="h5">{{$root.messages.mainBulletsContentDesc}}</p>
                </div>
                <div class="col-md-2 col-xs-4 col-centered">
                    <p class="h2">{{$root.messages.mainBulletsMultiLingualTitle}}</p>
                    <img class="img-responsive" src="images/bulletMultiLingual.png" alt="Content"/>
                    <p class="h5">{{$root.messages.mainBulletsMultiLingualDesc}}</p>
                </div>
                <div class="col-md-2 col-xs-4 col-centered">
                    <p class="h2">{{$root.messages.mainBulletsLightweightTitle}}</p>
                    <img class="img-responsive col-centered" src="images/bulletLightweight.png" alt="Content"/>
                    <p class="h5">{{$root.messages.mainBulletsLightweightDesc}}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="{{sections[0].id}}" class="section-wrapper about">
        <div class="container">
            <h1>{{sections[0].title}}</h1>
        </div>
    </section>
    <section id="{{sections[1].id}}" class="section-wrapper download">
        <div class="container">
            <h1>{{sections[1].title}}</h1>
        </div>
    </section>
    <section id="{{sections[2].id}}" class="section-wrapper useCases">
        <div class="container">
            <h1>{{sections[2].title}}</h1>
        </div>
    </section>
    <section id="{{sections[3].id}}" class="section-wrapper contact-us">
        <div class="container">
            <h1>{{sections[3].title}}</h1>
            <div class="row">
                <div role="form" class="contact-form">
                    <div>
                        <div class="col-lg-4 col-sm-4">
                            <input type="text" name="name" id="name" placeholder="Your Name" class="form-control input-box" required>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <input type="email" name="email" id="contact_email" placeholder="Your Email" class="form-control input-box" required>
                        </div>
                        <div class="yep hide">
                            <input type="text" name="url" id="url" placeholder="URL">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <input type="text" name="subject" id="subject" placeholder="Subject" class="form-control input-box" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea name="message" id="message" class="form-control textarea-box" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary custom-button" type="submit">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
