<nav class="navbar navbar-default navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <div class="forkMe">
            <a href="https://github.com/CloudSlang" analytics-on="click" analytics-event="fork me" target="_blank">
                <img alt="Fork me on GitHub"
                     src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
            </a>
        </div>
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" collapse-on-click Click data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" target="_top">
                <img src="../images/logos/CloudSlang_logo_no-symbol.png" class="logo" alt="CloudSlang"/>
           </a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse bs-navbar-collapse collapse">
            <li class="h5"><a href="http://blog.cloudslang.io" analytics-on="click" analytics-event="nav blog" target="_blank" >{{$root.messages.navBlogTitle}}</a></li>
            <li class="h5"><a href="#/community"  analytics-on="click" analytics-event="nav community" target="_top" >{{$root.messages.navCommunityTitle}} </a></li>
            <li class="h5"><a href="http://cloudslang-docs.readthedocs.org/en/v0.9/"  analytics-on="click" analytics-event="nav docs" target="_blank">{{$root.messages.navDocumentationTitle}}</a></li>
            <li class="h5"><a href="#/about"  analytics-on="click" analytics-event="nav about" class="h5"  target="_top">{{$root.messages.navAboutTitle}}</a></li>
            <li class="button-nav-position"><p class="navbar-btn">
                <a href="#/getstarted#top" class="btn start-now-button-nav" role="button"  analytics-on="click" analytics-event="start now nav"><img src="images/button_icon.png" class="resize-nav"
                                                                         alt="Start Now">
                    <span class="start-now-text-nav"> {{$root.messages.headerStartNow}}</span></a>
            </p>
            </li>
        </ul>
    </div>
</nav>
