<div class="row-centered">
    <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
        <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
            <div ng-hide="mailchimp.result === 'success'">
                <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='hpln'">
                <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us11'">
                <input class="hidden" type="hidden" ng-model="mailchimp.u"
                       ng-init="mailchimp.u='faac5eb54029eea8e52617153'">
                <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='3e1c20d9b7'">
                <input class="name-field" type="text" name="fname" ng-model="mailchimp.FNAME" placeholder="Full Name">
                <!--input type="text" name="lname" ng-model="mailchimp.LNAME" placeholder="Last name"-->
                <input class="email-field" type="text" name="email" ng-model="mailchimp.EMAIL"
                       placeholder="Email address" required>
                <button class="sign-up" ng-disabled="MailchimpSubscriptionForm.$invalid"
                        ng-click="addSubscription(mailchimp)">Sign Up
                </button>
            </div>

            <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
            <div ng-show="mailchimp.result === 'error'" ng-cloak>
                <p class="subscribe-message"><span ng-bind-html="mailchimp.errorMessage"></span></p>
            </div>

            <!-- Show success message if MailChimp returned successfully. -->
            <div ng-show="mailchimp.result === 'success'" ng-cloak>
                <p class="subscribe-message"><span ng-bind-html="mailchimp.successMessage"></span></p>
            </div>
        </form>
    </div>
</div>
