<div class="container">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <h3 class="suggest-workflow-title">{{ $root.messages.suggestWorkFlowTitle }}</h3>
            <p class="h4">{{ $root.messages.suggestWorkFlowDescription1 }} </p>
            <p class="h4"> {{ $root.messages.suggestWorkFlowDescription2 }}</p>
        </div>
        <div class="col-md-7 col-xs-12">
                <img class="img-responsive" src="images/suggest_workflow_image.png"></img>
        </div>
        <div class="col-md-12 col-xs-12">
        <a class="suggest-flow-link" href="https://github.com/CloudSlang/cloud-slang-content/issues/new?title=Your%20New%20Workflow" target="_blank">
            <button type="button" class="btn suggest-workflow-button"> {{ $root.messages.suggestWorkFlowButton }} </button> </a>
        </div>
    </div>
</div>
