<div class="container">
    <p class="h1 section-header">{{$root.messages.useCasesTitle}}</p>

    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesMigrateContainerTitle}}</p>
            <p class="h4 text-left">{{$root.messages.useCasesMigrateContainerDesc}}</p>
            <p class="h4 text-left">
                <a class="download-link"
                   href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/docker/runc/examples/migrate_container.sl"
                   target="_blank">
                    <i class="fa fa-github fa-lg workflow"></i>
                    <small>View in GitHub</small>
                </a>
                <a class="download-link"
                   href="https://youtu.be/OrbrMlZiRTY"
                   target="_blank">
                    <i class="fa fa-video-camera workflow"></i>
                    <small>Video</small>
                </a>
            </p>

            <img class="img-responsive visible-sm visible-xs sm-image" src="images/usecases/use_cases_diagram2.png"
                 alt="Use Case 2">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive bullet-img" src="images/usecases/use_cases_diagram2.png" alt="Use Case 3">
        </div>
    </div>

    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesCoreOsTitle}}</p>
            <p class="h4 text-left">{{$root.messages.useCasesCoreOsDesc}}</p>
            <p class="h4 text-left">
                <a class="download-link"
                   href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/coreos/cluster_docker_images_maintenance.sl"
                   target="_blank">
                    <i class="fa fa-github fa-lg workflow"></i>
                    <small>View in GitHub</small>
                </a>
                <a class="download-link"
                   href="https://www.digitalocean.com/community/tutorials/how-to-clean-up-your-docker-environment-using-cloudslang-on-a-coreos-cluster-2"
                   target="_blank">
                    <i class="fa fa-comment workflow"></i>
                    <small>Blog</small>
                </a>
                <a class="download-link"
                   href="https://youtu.be/ER_wxmkt4ns"
                   target="_blank">
                    <i class="fa fa-video-camera workflow"></i>
                    <small>Video</small>
                </a>
            </p>
            <img class="img-responsive visible-sm visible-xs sm-image small"
                 src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive bullet-img-big" src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
    </div>

    <div class="row row-centered use-case borderless">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesOpenStackTitle}}</p>
            <p class="h4 text-left">{{$root.messages.useCasesOpenStackDesc}}</p>
            <p class="h4 text-left">
                <a class="download-link"
                   href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/cloud/openstack/openstack_health_check.sl"
                   target="_blank">
                    <i class="fa fa-github fa-lg workflow"></i>
                    <small>View in GitHub</small>
                </a>
            </p>
            <img class="img-responsive visible-sm visible-xs sm-image bullet-img-small" style="position: relative; left: 25px;" src="images/usecases/use_cases_diagram4.png"
                 alt="Use Case 4">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive bullet-img-big" src="images/usecases/use_cases_diagram4.png" alt="Use Case 4">
        </div>
    </div>
    <div class="row pull-left">
        <div class="col-xs-12 full-content-catalog">
            <div><p class="pull-left highlight-green"><a href="https://github.com/CloudSlang/cloud-slang-content/tree/master/content/io/cloudslang" target="_blank"><i class="fa fa-plus fa-lg workflow"></i> {{$root.messages.useCasesSeeMore}}</a></p></div>
        </div>
    </div>
</div>
