<div class="container">
    <p class="h1 section-header">{{$root.messages.useCasesTitle}}</p>

    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesCoreOsTitle}}</p>

            <p class="h4 text-left">{{$root.messages.useCasesCoreOsDesc}}</p>

            <p class="h4 text-left"><a class="download-link"
                                       href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/coreos/cluster_docker_images_maintenance.sl" target="_blank">
                <i class="fa fa-github fa-lg workflow"></i><small>Workflow</small></a>
                <a class="download-link"
                   href="https://www.digitalocean.com/community/tutorials/how-to-clean-up-your-docker-environment-using-cloudslang-on-a-coreos-cluster-2" target="_blank">
                    <span class="glyphicon glyphicon-comment"></span><small>Blog</small></a>
                <a class="download-link"
                   href="https://irock.jiveon.com/external-link.jspa?url=https://www.youtube.com/watch?v=ER_wxmkt4ns" target="_blank"><span
                    class="glyphicon glyphicon-facetime-video"></span><small>Video</small></a></p>
            <img class="img-responsive visible-sm visible-xs sm-image small"
                 src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
    </div>
    <!--<div class="row row-centered use-case">
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram2.png" alt="Use Case 2">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-center">{{$root.messages.useCasesCloudTitle}}</p>
            <p class="h4 text-center">{{$root.messages.useCasesCloudDesc}}</p>
            <img class="img-responsive visible-sm visible-xs sm-image small" src="images/usecases/use_cases_diagram2.png" alt="Use Case 2">
        </div>
    </div>-->
    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesAppDeploymentTitle}}</p>

            <p class="h4 text-left">{{$root.messages.useCasesAppDeploymentDesc}}</p>
            <p class="h4 text-left"><a class="download-link"
                                       href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/docker/containers/examples/demo_dev_ops.sl" target="_blank">
                <i class="fa fa-github fa-lg workflow"></i><small>Workflow</small></a></p>
            <!--<a class="watch-link" ng-href="http://youtu.be/3M9mQBOnODA" target="_blank">-->
            <!--Watch a Demo</a>-->
            <img class="img-responsive visible-sm visible-xs sm-image" src="images/usecases/use_cases_diagram3.png"
                 alt="Use Case 3">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram3.png" alt="Use Case 3">
        </div>
    </div>
    <div class="row row-centered use-case borderless">
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram4.png" alt="Use Case 4">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-left">{{$root.messages.useCasesOpenStackTitle}}</p>

            <p class="h4 text-left">{{$root.messages.useCasesOpenStackDesc}}</p>
            <p class="h4 text-left"><a class="download-link"
                                       href="https://github.com/CloudSlang/cloud-slang-content/blob/master/content/io/cloudslang/openstack/openstack_health_check.sl" target="_blank">
                <i class="fa fa-github fa-lg workflow"></i><small>Workflow</small></a></p>
            <img class="img-responsive visible-sm visible-xs sm-image" src="images/usecases/use_cases_diagram4.png"
                 alt="Use Case 4">
        </div>
    </div>
</div>
