<div class="container">
    <p class="h1 section-header">{{$root.messages.useCasesTitle}}</p>
    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-center">{{$root.messages.useCasesITTitle}}</p>
            <p class="h4 text-center">{{$root.messages.useCasesITDesc}}</p>
            <img class="img-responsive visible-sm visible-xs sm-image small" src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram1.png" alt="Use Case 1">
        </div>
    </div>
    <div class="row row-centered use-case">
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram2.png" alt="Use Case 2">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-center">{{$root.messages.useCasesCloudTitle}}</p>
            <p class="h4 text-center">{{$root.messages.useCasesCloudDesc}}</p>
            <img class="img-responsive visible-sm visible-xs sm-image small" src="images/usecases/use_cases_diagram2.png" alt="Use Case 2">
        </div>
    </div>
    <div class="row row-centered use-case">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-center">{{$root.messages.useCasesAppDeploymentTitle}}</p>
            <p class="h4 text-center">{{$root.messages.useCasesAppDeploymentDesc}}</p>
            <img class="img-responsive visible-sm visible-xs sm-image" src="images/usecases/use_cases_diagram3.png" alt="Use Case 3">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram3.png" alt="Use Case 3">
        </div>
    </div>
    <div class="row row-centered use-case">
        <div class="col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs">
            <img class="img-responsive" src="images/usecases/use_cases_diagram4.png" alt="Use Case 4">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="h3 text-center">{{$root.messages.useCasesDevOpsTitle}}</p>
            <p class="h4 text-center">{{$root.messages.useCasesDevOpsDesc}}</p>
            <img class="img-responsive visible-sm visible-xs sm-image" src="images/usecases/use_cases_diagram4.png" alt="Use Case 4">
        </div>
    </div>
</div>