<div ng-controller="MainCtrl">
    <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="6000" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[0].icon }}"
                                                                  class=" carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[1].icon }}"
                                                                  class=" carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[2].icon }}"
                                                                  class=" carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[3].icon }}"
                                                                  class="carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[4].icon }}"
                                                                  class="carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[5].icon }}"
                                                                  class="carousel-image img-responsive"></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-6 col-xs-12"><img ng-src="{{ worksWith[6].icon }}"
                                                                  class="carousel-image img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/lib/carousel.js"></script>
